.container {
  display: flex;
  font-weight: 600;
}

.accommodations {
  width: 55vw;
}

.accommodation {
  display: flex;
  flex-direction: row;
}

.accommodation-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}


.accommodation-infos__header {
  display: flex;
  align-items: flex-start;
}


.accommodation-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}